<footer id="footer" class="dark" style="background-color:#220E2F !important;">
  <div id="footer-container_k" style="margin: auto; display:block;" class="row">
    <div class="col-md-3 col-xs-12" id="first">
      <div class="buffer">
        <a href="https://domeha.com/pages/about-us"><p>About</p></a>
        <a href="https://domeha.com/pages/careers"><p>Careers</p></a>
        <a href="https://domeha.com/pages/press"><p>Press</p></a>
        <a href="https://domeha.com/blogs/news"><p>Blog</p></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="buffer">
        <a href="https://support.domeha.com/hc/en-us/requests/new"><p>Contact</p></a>
        <a href="https://support.domeha.com/hc/en-us/requests/new"><p>Support</p></a>
        <a href="http://www.elexausa.com/"><p>Elexa USA</p></a>
        <a href="#" id="footer_modal_button"</a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="buffer">
        <a href="https://domeha.com/collections/all"><p>Z-Wave Products</p></a>
        <a href="https://domeha.com/pages/guardian-page"><p>Guardian Products</p></a>
        <a href="https://domeha.com/pages/blogs-by-category/installation_guides"><p>How To Guides</p></a>
        <a href="https://domeha.com/pages/press"><p>Dome News</p></a>
      </div>
    </div>
    <div class="col-md-3 col-xs-12">
      <div class="buffer">
        <a href="https://www.youtube.com/channel/UCuqjZpsNcaWkbH6T1_PTQ3Q"><p>YouTube</p></a>
        <a href="https://www.facebook.com/DomeByElexa"><p>Facebook</p></a>
        <a href="https://twitter.com/DomeByElexa"><p>Twitter</p></a>
        <a href="https://www.linkedin.com/company/16181754"><p>LinkedIn</p></a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <p class="text-center" style="margin-bottom: 10px;">Sign up for Dome Home Automation News, Updates and Promotions</p>
      <div class="form-inline">
        <div class="form-group">
					<input type="text" placeholder="Email Address" class="form-control" style="vertical-align: baseline; display:inline-block; background-color: white; border: none;" />
          <button class="btn btn-active" style="display: inline-block">Submit</button>
        </div>
      </div>
				<small style="display: block; text-align:center; color: #756E79;">Dome, by Elexa Consumer Products Inc. 2016 &#9400;</small>
		</div>
  </div>
</footer><!-- #footer end -->
