<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="SemiColonWeb" />

	<!-- Stylesheets
	============================================= -->
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" href="css/swiper.css" type="text/css" />
	<link rel="stylesheet" href="css/dark.css" type="text/css" />
	<link rel="stylesheet" href="css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="css/animate.css" type="text/css" />
	<link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="css/responsive.css" type="text/css" />
	<link rel="stylesheet" href="css/styles.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<script src="js/jquery.js"></script>
	<script src="js/scripts.js"></script>
	<!-- Document Title
	============================================= -->
	<title>Dome Home Automation</title>

</head>

<style media="screen">
	@media screen and (max-width: 1190px) {
		.reponsive-margin-1-3 {
			margin-top: 16rem !important;
		}
	}
</style>



<body class="stretched">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="transparent-header dark full-header no-sticky">

			<div id="header-wrap">

				<div class="container clearfix">

					<div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

					<!-- Logo
					============================================= -->
					<div id="logo">
						<a href="index.html" class="standard-logo" data-dark-logo="images/logo-dark.png"><img src="images/logo.png" alt="Canvas Logo"></a>
						<a href="index.html" class="retina-logo" data-dark-logo="images/logo-dark@2x.png"><img src="images/logo@2x.png" alt="Canvas Logo"></a>
					</div><!-- #logo end -->

					<!-- Primary Navigation
					============================================= -->
					<nav id="primary-menu">

						<ul>
							<li class="current"><a href="index-fullscreen-slider.html"><div>Home</div></a>

							</li>
							<li class="mega-menu" id="kDropdown"><a href="index-shop.html"><div>Products</div></a>
							</li>
							<li class="mega-menu"><a href="https://support.domeha.com/hc/en-us/categories/115000497488-Integration" target="_blank"><div>How-To's</div></a>
							</li>
							<li class="mega-menu"><a href="#"><div>Blog</div></a>

							</li>
							<li class="mega-menu"><a href="https://support.domeha.com/hc/en-us" target="_blank"><div>Support</div></a>

							</li>
						</ul>

						<!-- Top Cart
						============================================= -->
						<div id="top-cart">
							<a href="#" id="top-cart-trigger"><i class="icon-shopping-cart"></i><span>5</span></a>
							<div class="top-cart-content">
								<div class="top-cart-title">
									<h4>Shopping Cart</h4>
								</div>
								<div class="top-cart-items">
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Blue Round-Neck Tshirt</a>
											<span class="top-cart-item-price">$19.99</span>
											<span class="top-cart-item-quantity">x 2</span>
										</div>
									</div>
									<div class="top-cart-item clearfix">
										<div class="top-cart-item-image">
											<a href="#"><img src="images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
										</div>
										<div class="top-cart-item-desc">
											<a href="#">Light Blue Denim Dress</a>
											<span class="top-cart-item-price">$24.99</span>
											<span class="top-cart-item-quantity">x 3</span>
										</div>
									</div>
								</div>
								<div class="top-cart-action clearfix">
									<span class="fleft top-checkout-price">$114.95</span>
									<button class="button button-3d button-small nomargin fright">View Cart</button>
								</div>
							</div>
						</div><!-- #top-cart end -->

						<!-- Top Search
						============================================= -->
						<div id="top-search">
							<a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
							<form action="search.html" method="get">
								<input type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
							</form>
						</div><!-- #top-search end -->

					</nav><!-- #primary-menu end -->

				</div>

			</div>
			<div class="hidden-dropdown hide_k">
				 <div class="row" style="padding-top: 1em; padding-bottom: 2em;">
					 <div class="col-md-6 col-sm-6" style="width: 52% !important;">
						 <div class="prod-nav-cont border-white">
								 <h1 id="h1_k">Z-Wave Devices</h1>
								 <ul id="list" class="list2" style="float: left; padding-right: 3em;">
									 <li><a href="#">Motion Sensor</a></li>
									 <li><a href="https://domeha.com/products/z-wave-leak-sensor">Water Detector</a></li>
									 <li><a href="https://domeha.com/products/z-wave-smart-plug-sensor">Smart Plug</a></li>
									 <li><a href="https://domeha.com/products/z-wave-door-and-window-sensor">Door Sensor</a></li>
									 <li><a href="https://domeha.com/products/z-wave-door-and-window-pro-sensor">Door Sensor Pro</a></li>
								 </ul>
								 <ul id="list" class="list2" style="float: left;">
									 <li><a href="https://domeha.com/products/z-wave-siren-sensor">Siren</a></li>
									 <li><a href="https://domeha.com/products/z-wave-mouser-sensor">Mouser</a></li>
									 <li><a href="https://domeha.com/products/z-wave-water-main-shutoff-sensor">Water Valve</a></li>
								 </ul>
								 <div style="clear: both; margin: auto;">
									 <img class="img-responsive lineup_k" src="images/dome-sensors.png" alt="lineup of products"/>
								 </div>
						 </div>
					 </div>
					 <div class="col-md-6 col-sm-6" style="width: 48%;">
						 <div class="prod-nav-cont-2" style="margin-left: -2em;">
							 <img class="logo_k img-responsive" src="images/guardian-text.png" alt="guardian logo" />
							 <p>
								A stand-alone system (no hub) with RF, Wifi and LoRa for leak and flood prevention. Z-Wave optional.
							 </p>
							 <img class="img-responsive product_k" src="images/dome-guardian.png" alt="guardian product" />
						 </div>
					 </div>
			 </div>
		</header><!-- #header end -->

		<section id="slider" class="slider-parallax swiper_wrapper full-screen force-full-screen clearfix">

			<div class="slider-parallax-inner">

				<div class="swiper-container swiper-parent">
					<div class="swiper-wrapper">
						<div class="swiper-slide dark">
							<div class="clearfix k_clearfix"  style="background-color: #691f98" >
								<div class="slider-caption slider-caption-center k_slider">
									<h2 data-caption-animate="fadeInUp" class="slide-1">Better Z-Wave Devices, with Real Margins.</h2>
      						<p data-caption-animate="fadeInUp" data-caption-delay="200" class="slide-1">Price protection. Dealer Support. Reliable Performance. <a class="anchor-white" href="#">Learn More</a></p>
      						<img class="slide-1" src="images/zwave-group.png" />
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="clearfix k_clearfix" style="background-color: #EB3324;">
								<div class="slider-caption slider-caption-left k_slider">
									<div class="col-md-7 col-sm-12">
										<h2 data-caption-animate="fadeInUp" class="slide-2">A killer siren for your favorite hub.</h4>
										<p data-caption-animate="fadeInUp" data-caption-delay="200" class="slide-2">Introducing a down right incredible smart siren. <a class="anchor-white" href="#">Learn More.</a></p>
									</div>
								<div class="col-md-4 col-sm-12">
									<img class="slide-2" src="images/siren-big.png" alt="Siren" />
								</div>
							</div>
						</div>
					</div>
						<div class="swiper-slide dark">
							<div class="clearfix k_clearfix" style="background-color: #3e8bc3">
								<div class="slider-caption slider-caption-center k_slider">
									<h2 class="slide-3" data-caption-animate="fadeInUp">Not your average redo.</h2>
									<p class="slide-3" data-caption-animate="fadeInUp" data-caption-delay="200">A water shut-off valve that requires no plumbing or tools. <a class="anchor-white" href="#">Learn More.</a></p>
									<img src="images/valve.png" alt="Guardian" class="slide-3"/>
								</div>
							</div>
						</div>
						<div class="swiper-slide dark">
							<div class="clearfix k_clearfix" style="background-color: #68c55d;">
								<div class="slider-caption slider-caption-right k_slider">
									<div class="col-md-6 col-sm-12">
        						<img src="images/mouser.png" alt="Mouser" class="slide-4"/>
    							</div>
    							<div class="col-md-6 col-sm-12">
      							<h2 data-caption-animate="fadeInUp" class="slide-4">The first ever Z-Wave rodent trap.</h2>
      							<p data-caption-animate="fadeInUp" data-caption-delay="200" class="slide-4">A safe and sanitary method of pest control. <a  class="anchor-white" href="#">Learn More</a></p>
    							</div>
								</div>
							</div>
						</div>
					</div>
					<div id="slider-arrow-left"><i class="icon-angle-left"></i></div>
					<div id="slider-arrow-right"><i class="icon-angle-right"></i></div>
					<div id="slide-number"><div id="slide-number-current"></div><span>/</span><div id="slide-number-total"></div></div>
				</div>
			</div>
		</section>

		<!-- Footer
		============================================= -->
    <%- include snippets/footer.ejs %>

	</div><!-- #wrapper end -->

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- External JavaScripts
	============================================= -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/plugins.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script type="text/javascript" src="js/functions.js"></script>

</body>
</html>
