body {
  overflow-x: hidden;
}
/* STYLES FOR FOOTER */
.btn {
background-color: #007BD1 !important;
font-family: 'Roboto', sans-serif !important;
letter-spacing: 0 !important;
padding: 8.5px 30px;
}
div.col-md-3 div.buffer a {
text-decoration: none;
color: white;
}
div.buffer {
margin: auto;
display: block;
text-align: center;
}
small {
  padding: 3rem 0 3rem 0;
}

@media screen and (max-width: 768px) {
div.col-md-12 p {
padding-top: 6rem;
}
div.col-md-12 small {
padding-top: 1rem;
}
div#footer-container_k {
padding-top: 14rem;
}
div.form-group input {
margin: auto;
display: block;
text-align: center;
padding-top: 1rem;
}
div.form-group input {
width: 14em;
margin-right: .5em;
justify-content: center;
}
div.form-inline {
text-align: center;
}
button.btn {
margin-top: -.6rem;
}

}
@media screen and (max-width: 496px) {
div.col-md-12 p {
padding-top: 4em;
}
}
@media screen and (min-width: 769px) {
div.col-md-12 p {
padding-top: 6rem;
}
div.col-md-12 small {
padding-top: 2rem;
}
div#footer-container_k {
padding-top: 5rem;
}
div.form-group input {
width: 26em !important;
margin-right: 1em;
display: block;
margin-top: 1rem;
}
div.form-inline {
text-align:center;
}
}
@media screen and (max-width: 385px) {
div.form-group input {
margin: auto;
display: block;
text-align: center;
padding-top: 1rem;
}
div.form-group input {
width: 8em;
margin-right: .5em;
justify-content: center;
}

}
/* END STYLES FOR FOOTER */

/* STYLES FOR SUPERNAV */
.hidden-dropdown {
  width: 100%;
  overflow: hidden;
  background-color: #171a1d;
  z-index: 9999999999;
  position: absolute;
  left: 0px;
}

div.hidden-dropdown .row .col-md-6 .prod-nav-cont ul { list-style: none; padding: 0; margin: 0;}
div.hidden-dropdown .row .col-md-6 .prod-nav-cont ul li a {color: white;text-decoration: none; font-size: 14px !important;}
div.hidden-dropdown .row .col-md-6 .prod-nav-cont h1 {color: white; font-size: 20px; line-height: 24px; font-weight: 600; padding-top: 1.59em; padding-bottom: .65em; font-family: 'Roboto', sans-serif;}
div.prod-nav-cont {margin-left:45% !important;}
.border-white {border-right: .5px solid #3b3f44;}


div.prod-nav h1 {display: inline; padding-top: 5px;}
div.prod-nav {margin-right: 20px;}
div.prod-nav-cont img.lineup_k {width: 280px; padding-right: 10px; margin: 0 !important; padding-top: .5em; padding-bottom: 1em}
div.prod-nav-cont-2 img.logo_k { margin: 2.25em 0 1em 52px; height: 18px}
div.prod-nav-cont-2 p {max-width: 350px; margin: 2em 0 0 52px; font-size: 14px; color: white;}
div.prod-nav-cont-2 img.product_k {width: 275px; padding-bottom: 1em; padding-top: 1.6em; margin-left: 52px;}
div.prod-nav-cont-2 {margin: auto;}
li.action-bar__menu-item a {text-decoration: none !important;}
li.action-bar__menu-item a:focus, li.action-bar__menu-item a:hover, li.action-bar__menu-item a:active,{color: #dbdbdb; text-decoration: none !important;}
img.z-wave_k { height: 50px;}
.hide_k {
  display: none;
}
ul.list2 li {
	float: none !important;
}
ul.list2 li a {
	padding: 0 0 1rem 0 !important;
	color: white !important;
	text-transform: none !important;
}
/* END STYLES FOR SUPERNAV */

/* STYLES FOR SLIDER */
.k_clearfix {
  width: 100vw !important;
  height: 100vh !important;
}
.k_slider {
  top: 0 !important;
  width: 100% !important;
  height: 100% !important;
  max-width: 100% !important;
  left: 0px !important;
  right: 0px !important;

}
.col-md-7, .col-md-4, .col-sm-12 {
padding: 0 !important;
}
img.slide-1 {
  max-width: 70%;
}
h2.slide-1 {
  max-width: 60%;
  margin: calc(100px + 2rem) auto 0 auto;
}
p.slide-1 {
  font-size: 2.2rem;
  padding: 2rem 0 4rem 0;
}

h2.slide-2 {
  text-align: left;
  margin-top: 32rem;
  margin-left: 4rem;
}
p.slide-2 {
  text-align: left;
  font-size: 2.2rem;
  padding-top: 0 !important;
  margin-left: 4rem;
}
img.slide-2 {
  max-width: 72rem !important;
  margin-left: 12.5vw;
  margin-top: 7rem;
}

.anchor-white {
  color: white !important;
  text-decoration: underline !important;
}

img.slide-3 {
  max-width: 75%;
  max-width: 75%;
}
h2.slide-3 {
  margin-top: 120px;
}
p.slide-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

img.slide-4 {
  margin-top: 15rem;
  margin-left: -16rem;
}
h2.slide-4 {
  margin-top: 30rem;
}

@media screen and (max-width: 1200px) {
  h2.slide-1 {
    font-size: 55px
  }
  img.slide-2 {
    margin-left: 6vw !important;
  }
}

@media screen and (max-width: 1200px) {
  img.slide-4 {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 992px) {
  header {
    position: absolute !important;
    width: 100% !important;
    background-color: transparent !important;
  }
  h2.slide-1 {
    margin-top: calc(100px + 10rem);
    font-size: 2.8rem;
  }
  p.slide-1 {
    font-size: 1.8rem;
  }
  h2.slide-2 {
    margin-top: calc(100px + 7rem);
    font-size: 2.8rem;
    margin-left: 0 !important;
    text-align: center;
  }
  p.slide-2 {
    font-size: 1.8rem;
    position: relative;
    text-align: center;
    padding: 0 2rem 0 2rem;
    top: 55vh;
    margin-left: 0 !important;

  }
  img.slide-2 {
    height: 300px;
    display: block;
    margin: -2rem auto 0 auto !important;
  }
  h2.slide-3 {
    font-size: 2.8rem;
    margin-top: 17rem;
    text-align: center !important;
  }
  p.slide-3 {
    font-size: 1.8rem;
  }

  img.slide-4 {
    margin-top: 25rem;
    max-width: 50%;
  }

  h2.slide-4 {
    left: 0;
    right: 0;
    position: absolute;
    top: -40rem;
    text-align: center;
    font-size: 2.8rem;
    margin-top: 0px;
  }

  p.slide-4 {
    position: absolute;
    left: 0;
    right: 0;
    top: 4rem;
    text-align: center;
    font-size: 1.8rem;
    }
    div#slide-number {
      display: none;
    }
  }

@media screen and (max-width: 780px) {
  h2.slide-4 {
    top: -35rem;
  }
  img.slide-4 {
    margin-left: -11rem;
  }
  p.slide-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 590px) {
  h2.slide-4 {
    top: -30rem;
  }
  img.slide-4 {
    margin-top: 25rem;
  }
  p.slide-4 {
    top: 8rem;
  }
}

@media screen and (max-width: 560px) {
  h2.slide-1 {
    max-width: 100%;
    margin-left: 2rem;
    margin-top: 150px;
  }
  p.slide-1 {
    top: 50vh;
    position: relative;
    margin-left: 2rem !important;
    font-size: 1.8rem;
    font-weight: normal !important;
  }
  img.slide-1 {
    max-width: 100rem;
    padding-left: 2rem;
    margin-top: -12rem;
  }
  h2.slide-3 {
    margin-top: 17rem !important;
    text-align: left;
    padding: 0 2rem 0 2rem;
  }
  p.slide-3 {
    position: relative;
    top: 50vh;
  }
  img.slide-3 {
    margin-top: 2rem;
  }

  h2.slide-4 {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  img.slide-4 {
    max-width: 80%;
    transform: translateY(15%);
  }

}

@media screen and (max-width: 480px) {
  img.slide-4 {
    margin-left: -7rem;
  }
}
